# Python
/.venv/
*.egg-info/
__pycache__/
*.pyc

# pyinstaller 打包
/dist/
/build/

# 浏览器
/浏览器/**/*
!/浏览器/.gitkeep

# 数据
/数据/**/*
!/数据/.gitkeep

# 小红狐脚本
/小红狐/脚本/**/*
!/小红狐/脚本/.gitkeep
!/小红狐/脚本/小红狐*
!/小红狐/脚本/小红狐*/**/*
