#页面操作脚本表格 {
    display: block;
    width: max-content;
    max-width: 100%;
    overflow: auto;
    border-collapse: collapse;
    border-spacing: 0;
}

#页面操作脚本表格 th,
#页面操作脚本表格 td {
    padding: 0.2rem 0.4rem;
    border: 1px solid;
    empty-cells: show;
}

#页面操作脚本表格 .页面操作脚本:hover {
    cursor: pointer;
    text-decoration: underline;
}

#页面操作脚本表格 .页面操作脚本状态 {
    display: inline-block;
    border-radius: 0.4rem;
    padding: 0.1rem 0.2rem;
}

#页面操作脚本表格 .页面操作脚本状态:hover {
    cursor: pointer;
    font-weight: bold;
}

#页面操作脚本表格 .页面操作脚本状态.开启 {
    color: green;
    border: 0.1rem solid green;
}

#页面操作脚本表格 .页面操作脚本状态.开启:hover {
    background-color: green;
    color: white;
}

#页面操作脚本表格 .页面操作脚本状态.关闭 {
    color: red;
    border: 0.1rem solid red;
}

#页面操作脚本表格 .页面操作脚本状态.关闭:hover {
    background-color: red;
    color: white;
}

#页面操作脚本表格 .页面操作脚本状态.加载中 {
    color: orange;
    border: 0.1rem solid orange;
}

#页面操作脚本表格 .页面操作脚本状态.加载中:hover {
    cursor: wait;
    background-color: orange;
}

#页面操作脚本表格 .自动开启多选.加载中 {
    cursor: wait;
}

#页面操作脚本表格 .自动开启多选.加载中::after {
    content: "切换中";
}

.刷新按钮.加载中 {
    cursor: wait;
}

.刷新按钮.加载中::after {
    content: " 加载中…";
}

#对话框 {
    padding: 0.4rem;
    border-width: 0.1rem;
    border-radius: 0.4rem;
}

