body {
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center;*/
}

#header {
    background: white;
}

#header h1 {
    margin: 0;
}

/* 主体 + 侧边栏部分 */
#main {
    flex: 1;
    display: flex;
    margin: 0;
    padding: 0;
}

/* 侧边栏 */
#nav-wrap {
    padding: 0;
    margin: 0;
    width: 20rem;
    transition: width 0.3s ease-in-out;
}
#nav {
    width: 20rem;
    height: 100%;
    box-sizing: border-box;
    padding: 1rem;
    margin: 0;
    transition: transform 0.3s ease-in-out; 
}
/* 收起状态 */
#nav-wrap.collapsed {
    width: 0;
    overflow: hidden;
}
#nav-wrap.collapsed #nav {
    transform: translateX(-20rem)
}
/* 手机端侧边栏样式 */
@media (max-width: 768px) {
    #nav-wrap {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #8888;
        transition: background-color 0.3s ease-in-out;
    }
    #nav {
        width: 100%;
        max-width: 20rem;
        transition: transform 0.3s ease-in-out;
    }
    #nav-wrap.collapsed {
        width: 100%;
        background-color: transparent;
        pointer-events: none;
    }
    #nav-wrap.collapsed #nav {
        transform: translateX(-20rem);
    }
}

/* 主内容区域 */
#content {
    flex: 1;
    background-color: #ff5b5b;
}

#content iframe {
    width: 100%;
    height: 100%;
    border: none;
}