:root {
    /* 移动端判断 */
    --是否移动端: 0;

    /* 🌞 浅色主题 */
    color-scheme: light;

    --背景色: #f8f9fa;
}

@media (prefers-color-scheme: dark) {
    :root {
        /* 🌙 深色主题 */
        color-scheme: dark;

        --背景色: #1e1e1e;
    }
}

body {
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center;*/
    background-color: var(--背景色);
}

#header h1 {
    margin: 0;
}

/* 主体 + 侧边栏部分 */
#main {
    flex: 1;
    display: flex;
    margin: 0;
    padding: 0;
}

/* 侧边栏 */
#侧边栏容器 {
    padding: 0;
    margin: 0;
    width: 20rem;
    transition: width 0.3s ease-in-out;
}
#侧边栏 {
    width: 20rem;
    height: 100%;
    box-sizing: border-box;
    padding: 1rem;
    margin: 0;
    transition: transform 0.3s ease-in-out;
    background-color: var(--背景色);
}
#侧边栏 a.选中 {
    background: #ff4d4d;
}
/* 收起状态 */
#侧边栏容器.收起 {
    width: 0;
    overflow: hidden;
}
#侧边栏容器.收起 #侧边栏 {
    transform: translateX(-20rem)
}
/* 移动端样式 */
@media (max-width: 768px) {
    /* 设置值使 js 可以判断当前是否为移动端 */
    :root {
        --是否移动端: 1;
    }
    /* 侧边栏 */
    #侧边栏容器 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #8888;
        transition: background-color 0.3s ease-in-out;
    }
    #侧边栏 {
        width: 100%;
        max-width: 20rem;
        transition: transform 0.3s ease-in-out;
    }
    #侧边栏容器.收起 {
        width: 100%;
        background-color: transparent;
        pointer-events: none;
    }
    #侧边栏容器.收起 #侧边栏 {
        transform: translateX(-20rem);
    }
}

/* 主内容区域 */
#iframe容器 {
    flex: 1;
}

#iframe容器 iframe {
    width: 100%;
    height: 100%;
    border: none;
}