:root {
    /* 🌞 浅色主题 */
    color-scheme: light;
}

@media (prefers-color-scheme: dark) {
    :root {
        /* 🌙 深色主题 */
        color-scheme: dark;
    }
}

html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flow-root;
}

.对话框,
#对话框 {
    margin: auto;
    padding: 0.4rem;
    border-width: 0.1rem;
    border-radius: 0.4rem;
}

.对话框 .标题,
.对话框 .消息内容 {
    margin: 0;
    padding: 0;
    white-space: pre-wrap;
}

.加载按钮.加载中 {
    cursor: wait;
}

.加载按钮.加载中::before {
    content: "正在";
}

.加载按钮.加载中::after {
    content: "…";
}
