body {
    display: flex;
    flex-direction: column;
}

#header {
    display: none;
}

ul#标签页 {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; /* Flex 布局 */
    /* border-bottom: 1px solid #ccc; 可选：底部边框，模拟标签栏 */
    overflow-x: auto;
}

ul#标签页>li.拖拽 {
    background: transparent;
    color: transparent;
    border: 1px dashed #ccc;
}

ul#标签页>li>a {
  display: block;
  padding: 0.2rem 0.4rem;
  text-decoration: none;
  background: #f5f5f5;
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 0.2rem 0.2rem 0 0;
  white-space: nowrap;
}

ul#标签页>li:last-child>a {
    border-right: 1px solid #ccc;
}

/* 填充剩余空间，实现标签栏下边框 */
ul#标签页::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #ccc;
}

ul#标签页>li>a.选中 {
  background: #fff;
  border-bottom: none;
  color: #000;
}

#main {
    flex: 1;
}

#main iframe,
#main #加载 {
    width: 100%;
    height: 100%;
    border: none;
}
