body {
    display: flex;
    flex-direction: column;
}
#header {
    height: 50px;
    display: none;
}
#main {
    flex: 1;
}

#main iframe,
#main #加载 {
    width: 100%;
    height: 100%;
    border: none;
}
